@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";

*{
  box-sizing: border-box;
  font-family: "SN Pro", "Outfit", sans-serif;
}